.topic-jumbotron--gradient-border--7UpZf {
    height: 8px;
    background: linear-gradient(220deg,#EC5252 -30%,#6E1A52 70%);
}
.topic-jumbotron--title--2u9Hn {
    font-size: 34px;
    font-weight: 600;
    line-height: 1.3em;
    marginTop: 32px;
    margin-bottom: 16px;
}
