
.sliderComponent{
    height: 60vh;
    background: url('../../Asset/slider.png');
    background-repeat: no-repeat;
    background-size: cover;

}
.subsliderComponent {
    display: block;
    border: none;
    background: -webkit-linear-gradient(-45deg,#EC5252 0%,#6E1A52 100%);
    background: -moz-linear-gradient(-45deg,#EC5252 0%,#6E1A52 100%);
    background: -ms-linear-gradient(-45deg,#EC5252 0%,#6E1A52 100%);
    background: -o-linear-gradient(-45deg,#EC5252 0%,#6E1A52 100%);
    background: linear-gradient(-45deg,#EC5252 0%,#6E1A52 100%);
}
.child__col:first-child {
    padding-left: 0;
}

.carousel-fullscreen-sidebar {
    display: flex;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

.streamer__headline {
    color: #fff;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.17;
    margin-bottom: 10px;
    max-width: 60%;
    text-shadow: 0 2px 4px rgba(41,48,59,.55);
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.streamer__content{
    color: #ffffff;
    width: 38%;
}
.streamer__content h2{
    color: #ffffff;
    font-size: 44px;
    font-weight: 600;
    line-height: 1;
}

.streamer__content p{
    font-size: 18px;
    line-height: 34px;
    margin-bottom: 30px;
}

@media (max-width: 480px) {
    .streamer__content{
        background-color: red;
    }
}