.how-udemy-works-container {
    display: block;
    border: none;
    background: -webkit-linear-gradient(-45deg,#EC5252 0%,#6E1A52 100%);
    background: -moz-linear-gradient(-45deg,#EC5252 0%,#6E1A52 100%);
    background: -ms-linear-gradient(-45deg,#EC5252 0%,#6E1A52 100%);
    background: -o-linear-gradient(-45deg,#EC5252 0%,#6E1A52 100%);
    background: linear-gradient(-45deg,#EC5252 0%,#6E1A52 100%);
}
.how-udemy-works__col {
    padding: 30px 0 30px 0;
}
.fx-lt, .fxw {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
* {
    box-sizing: border-box;
}
.how-udemy-works__icon {
    color: #fff;
    float: left;
    font-size: 47px;
    height: 1em;
}

.how-udemy-works__icon2 {
    color: #fff;
    float: left;
    display: none;
    font-size: 47px;
    height: 1em;
    background: url('../../Asset/images (3).png');
}

.how-udemy-works__icon3 {
    color: #fff;
    float: left;
    display: none;
    font-size: 47px;
    height: 1em;
    background: url('../../Asset/695ae8cc9d.svg');
}

.how-udemy-works__text b {
    font-size: 17px;
    display: block;
    color: #fff;
}
b, strong {
    font-weight: 700;
}
.how-udemy-works__text .how-udemy-works__sub-title {
    color: #fff;
}
