@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .tab-data {
        min-width: auto;
        width: 100%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 767px) {
    .tab-data {
        min-width: auto;
        width: 100%;
    }
}
