.footer__bottom {
    margin: 30px auto;
}
.container-fluid {
    max-width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
}
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1410px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.inline-block {
    display: none!important;
}
.visible-xxs-block, .visible-xxs-inline, .visible-xxs-inline-block {
    display: none!important;
}
.mb10 {
    margin-bottom: 10px;
}
.mr20 {
    margin-right: 20px;
}
.text-midnight-lighter {
    color: #686f7a;
}
.dib {
    display: inline-block;
}
.footer-v6 footer {
    background-color: #fff;
    /* color: #a1a7b3; */
    font-size: 13px;
    line-height: 18px;
    width: 100%;
}
.text-right {
    text-align: right;
}
.hr-primary {
    border-top: 6px solid #ec5252;
}

.footer__copyright{
    font-size: 10px;
}

.wrap-border{
    border-bottom: 5px solid red;
    position: fixed;
    bottom: 0;
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .footer-content {
        min-width: auto;
        width: 100%;
    }
}

