@media (min-width: 768px){
    .topic--topic-layout--1q0FO .topic--section-heading--UrZPh {
        font-size: 24px;
        font-weight: 600;
        line-height: 1.33em;
        margin: 0%;
    }
}
.track-impression--waypoint--wvgq2 {
    margin: unset;
}

.mt-space-xs {
    marginTop: 8px;
}
.mb-space-0 {
    margin-bottom: 0;
}
p {
    margin: 0 0 10.5px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
span {
    font-size: 0px;
}
table {
    empty-cells: show;
    border: 1px solid #000;
}

table td,
table th {
    min-width: 10em;
    min-height: 10em;
    border: 1px solid #000;
}

.ios-add{
    margin: 30px 0;
}
.filter-btn-wrap{
    background-color: #f7f8fa;
    padding: 16px;
}
.filter-btn-wrap button{
    background: #ffffff;
    border-radius: 0;
    color: #686f7a;
    border: 1px solid #cacbcc;
    font-weight: 600;
}

table, th, td {
    border: 1px solid black;
    padding-right: 30px;
}
tr.hide_all > th, th.hide_all{
    border-style:hidden;
}
tr.hide_all > td, td.hide_all{
    border-style:hidden;
}
